.advantages {
  text-align: center;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__heading {
  margin: 0 auto;
  padding: 32px 18px;

  @media (min-width: $vp-768) {
    padding: 48px 124px 56px 124px;
  }

  @media (min-width: $vp-1200) {
    padding: 59px 357px 44px 356px;
  }
}

.advantages__title {
  margin-bottom: 11px;
}

.advantages__card {
  margin: 0;

  background-color: $color-seagull;

  &--divider {
    clip-path: polygon(50% 4%, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 2fr;

    &--different {
      grid-template-columns: 2fr 1fr;
    }

    &--divider {
      clip-path: none;
    }
  }
}

.advantages__card-text {
  padding: 37px 18px;

  @media (min-width: $vp-768) {
    padding: 52px 33px 31px 33px;

    &--order {
      order: 1;
    }
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  padding: 24px 18px;

  &--grey {
    background-color: $color-whisper-light;
  }

  @media (min-width: $vp-768) {
    padding: 41px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px;
  }
}

.advantages__sublist {
  margin: 0;
  padding: 31px 18px 46px 65px;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__subitem {
  position: relative;

  margin-bottom: 33px;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -48px;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
  }

  &--house::before {
    background-image: url(../img/svg/house-icon.svg);
  }

  &--food::before {
    background-image: url(../img/svg/food-icon.svg);
  }

  &--souvenirs::before {
    background-image: url(../img/svg/souvenirs-icon.svg);
  }

  @media (min-width: $vp-768) {
    margin-bottom: 0;
    padding: 158px 33px 60px 33px;

    text-align: center;

    &::before {
      top: 62px;
      left: 87px;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 169px 50px 69px 50px;

    &::before {
      top: 69px;
      left: 159px;
    }
  }
}

.advantages__subtitle {
  margin-bottom: 16px;
}
