.advantages {
  text-align: center;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__heading {
  padding: 35px 18px 37px 18px;

  @media (min-width: $vp-768) {
    padding: 48px 124px 55px 124px;
  }

  @media (min-width: $vp-1200) {
    padding: 59px 357px 44px 356px;
  }
}

.advantages__heading-title {
  margin: 0 0 35px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;


  @media (min-width: $vp-768) {
    margin-bottom: 30px;

    font-size: 21px;
  }
}

.advantages__heading-description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;
}

.advantages__title {
  margin: 0 0 11px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }

  @media (max-width: ($vp-768 - 1px)) {
    br {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 13px;

    font-size: 21px;
  }
}

.advantages__card {
  margin: 0;

  background-color: $color-seagull;

  &--divider {
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 2fr;

    &--different {
      grid-template-columns: 2fr 1fr;
    }

    &--divider {
      clip-path: none;
    }
  }
}

.advantages__card-text {
  padding: 37px 18px;

  &--divider {
    padding: 50px 18px 38px 18px;
  }

  @media (min-width: $vp-768) {
    padding: 52px 26px 31px 26px;

    &--order {
      order: 1;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }

  @media (min-width: $vp-768) {
    &--padding {
      padding: 0 9px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $vp-1200) {
    &--padding {
      padding: 0;
    }

    &--padding-desktop {
      padding: 0 10px;
    }
  }
}

.advantages__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;

  padding: 25px 26px;

  background-color: $color-whisper-light;

  @media (max-width: ($vp-768 - 1px)) {
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 18px;

      width: calc(100% - 36px);
      height: 1px;

      background-color: $color-light-grey-after;
    }
  }

  @media (min-width: $vp-768) {
    padding: 42px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px;
  }
}

.advantages__sublist {
  margin: 0;
  padding: 33px 18px 44px 65px;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__subitem {
  position: relative;

  margin-bottom: 33px;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -48px;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
  }

  &--house::before {
    background-image: url("../img/svg/house-icon.svg");

    @media (min-width: $vp-768) {
      top: 58px;
      left: 50%;

      width: 77px;
      height: 72px;

      background-size: 75px;
      transform: translateX(-50%);
    }

    @media (min-width: $vp-1200) {
      top: 70px;

      width: 80px;
      height: 73px;

      background-size: 81px 74px;
    }
  }

  &--food::before {
    background-image: url("../img/svg/food-icon.svg");

    @media (min-width: $vp-768) {
      top: 60px;
      left: 50%;

      width: 80px;
      height: 68px;

      background-size: 78px 72px;
      transform: translateX(-50%);
    }

    @media (min-width: $vp-1200) {
      top: 72px;

      width: 73px;
      height: 69px;

      background-size: 71px 73px;
    }
  }

  &--souvenirs::before {
    background-image: url("../img/svg/souvenirs-icon.svg");

    @media (min-width: $vp-768) {
      top: 64px;
      left: 50%;

      width: 67px;
      height: 75px;

      background-size: 71px 75px;
      transform: translateX(-50%) scaleX(1.22);
    }

    @media (min-width: $vp-1200) {
      width: 78px;
      height: 75px;

      background-size: 76px 77px;
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 0;
    padding: 156px 33px 63px 33px;

    text-align: center;
  }

  @media (min-width: $vp-1200) {
    padding: 169px 50px 69px 50px;
  }
}

.advantages__subtitle {
  margin: 0 0 16px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 23px;

    font-size: 21px;

    &--souvenirs {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $vp-1200) {
    &--souvenirs {
      margin-bottom: 26px;
    }
  }
}

.advantages__subdescription {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;

  @media (max-width: ($vp-768 - 1px)) {
    br {
      display: none;
    }
  }
}
