.advantages__card {
  background-color: #81b3d2;
}

.title--white {
  color: #ffffff;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.advantages__number--white {
  color: #ffffff;
}

.description-white {
  color: #ffffff;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item-grey {
  background-color: #eeeeee;
}
