.copyright {
  display: flex;
  flex-wrap: wrap;
  max-width: 129px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;
  }

  &:focus-visible {
    outline: 3px $color-seagull solid;
    outline-offset: 2px;
  }

  @media (min-width: $vp-768) {
    align-items: start;
  }
}

.copyright__link-text {
  margin-right: 12px;

  @media (min-width: $vp-768) {
    margin-top: 15px;
  }
}

.copyright__image {
  flex-shrink: 0;

  @media (min-width: $vp-768) {
    margin-top: 7px;
  }
}
