.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__group {
  position: relative;

  margin: 24px 0 34px 0;
  padding: 0;

  border: none;

  &--contacts {
    margin-bottom: 41px;
  }

  &--comments {
    margin-bottom: 58px;
  }

  @media (min-width: $vp-768) {
    position: relative;

    width: 100%;
    margin-top: 0;
    margin-bottom: 48px;
    padding: 0;

    &--half {
      width: calc(50% - 29px);
      margin-bottom: 63px;
    }

    &--comments {
      margin-bottom: 47px;
    }

    &--impression {
      margin-bottom: 58px;
    }

    &--attractions {
      margin-bottom: 52px;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        top: -62px;
        right: -29px;

        width: 1px;
        height: calc(100% + 68px);

        background-color: $color-gainsboro;
      }
    }

    &:not(:nth-child(1)):not(:nth-child(2)) .form__title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: calc(50% - 60px);
      height: 1px;

      background-color: $color-gainsboro;
      transform: translate(-100%, -50%);
    }

    &:not(:nth-child(1)):not(:nth-child(2)) .form__title::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: calc(50% - 60px);
      height: 1px;

      background-color: $color-gainsboro;
      transform: translate(100%, -50%);
    }
  }

  @media (min-width: $vp-1200) {
    &--half {
      width: calc(50% - 49px);
      margin-bottom: 71px;
    }

    &--impression {
      margin-bottom: 83px;
    }

    &--attractions {
      margin-bottom: 97px;
    }

    &:first-child {
      &::after {
        right: -49px;
      }
    }

    &:not(:nth-child(1)):not(:nth-child(2)) .form__title::before {
      width: calc(100% - 120px);
    }

    &:not(:nth-child(1)):not(:nth-child(2)) .form__title::after {
      width: calc(100% - 120px);
    }
  }
}

.form__title {
  position: relative;

  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  &--big-margin {
    margin-bottom: 30px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    &::before {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $color-light-grey;
      transform: translateY(-24px);
    }
  }

  @media (min-width: $vp-768) {
    max-width: 400px;
    margin: 0 auto 28px auto;

    font-size: 21px;

    &--big-margin {
      margin-bottom: 38px;
    }
  }

  @media (min-width: $vp-1200) {
    &--big-margin {
      margin-bottom: 55px;
    }
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  &--radio {
    @media (min-width: $vp-768) {
      display: grid;
      justify-content: center;

      gap: 36px 16px;
      grid-template-columns: repeat(2, 280px);
    }

    @media (min-width: $vp-1200) {
      margin-left: 42px;

      gap: 28px;
      grid-template-columns: repeat(3, 280px);
    }
  }

  &--checkbox {
    @media (min-width: $vp-768) {
      display: grid;
      justify-content: center;

      gap: 37px;
      grid-template-columns: repeat(2, 224px);
    }

    @media (min-width: $vp-1200) {
      margin-top: 15px;

      gap: 63px;
      grid-template-columns: 175px 170px 153px 184px;
    }
  }
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__label-name {
  margin-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;
}

.form__input {
  position: relative;

  width: 100%;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: $color-white-smoke;
  background-repeat: no-repeat;
  background-position: right;
  border: none;

  &::placeholder {
    color: rgba($color-black, 0.3);

    opacity: 1;
  }

  &--phone {
    padding-right: 74px;

    background-image: url("../img/svg/phone-icon.svg");
  }

  &--email {
    padding-right: 74px;

    background-image: url("../img/svg/email-icon.svg");
  }

  &:hover {
    background-color: $color-whisper-add;
  }

  &:focus-visible {
    background-color: $color-white;
    outline: none;
    box-shadow: 0 0 0 4px $color-whisper-add inset;
  }

  &:disabled {
    background-color: rgb($color-black, 0.3);
  }
}

.form__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--choose {
    margin-bottom: 36px;

    @media (min-width: $vp-768) {
      margin-bottom: 0;
    }
  }
}

.form__control {
  position: relative;

  display: block;
  padding-left: 62px;

  cursor: pointer;

  &:hover .form__control-mark {
    background-color: $color-whisper-add;
  }

  &:active .form__control-mark {
    background-color: $color-light-grey;
  }

  &:active .form__control-mark::before {
    opacity: 0.3;
  }
}

.form__control-mark {
  position: absolute;
  top: 13px;
  left: 0;

  display: block;
  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
  transform: translateY(-50%);

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.form__control-input[type="radio"]:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 16px;

  background-color: $color-night-rider;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form__control-input[type="checkbox"]:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 16px;

  background-image: url("../img/svg/checkbox.svg");
  transform: translateX(-50%) translateY(-50%);
}

.form__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__comment-text {
  display: block;
  width: 100%;
  height: 150px;
  padding: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: $color-white-smoke;
  border: none;

  resize: none;

  &::placeholder {
    color: rgba($color-black, 0.3);
  }

  &:hover {
    background-color: $color-whisper-add;
  }

  &:focus-visible {
    background-color: $color-white;
    outline: none;
    box-shadow: 0 0 0 4px $color-whisper-add inset;
  }

  &:disabled {
    background-color: rgb($color-black, 0.3);
  }

  @media (min-width: $vp-768) {
    height: 160px;
  }

  @media (min-width: $vp-1200) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 22px;

  @media (min-width: $vp-768) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }

  @media (min-width: $vp-1200) {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;

    gap: 50px;
  }
}

.form__button {
  width: 100%;
  padding: 16px;

  @media (min-width: $vp-768) {
    width: 324px;
  }

  @media (min-width: $vp-1200) {
    width: 384px;
  }
}

.form__legend {
  margin-top: 3px;
  margin-left: auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba($color-night-rider, 0.6);
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 9px;

    font-size: 14px;
  }
}
