.gallery-card {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-card__item {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;

  @media (min-width: $vp-768) {
    width: 50%;
    margin: 0;

    &--full {
      width: 100%;
    }

    @media (min-width: $vp-1200) {
      &:not(&--full) {
        width: calc(100% / 3);
      }
    }
  }
}

.gallery-card__photo {
  margin: 0;

  @media (min-width: $vp-1200) {
    position: relative;

    display: flex;
    height: 100%;
    padding-top: 187px;

    &--full {
      padding-top: 320px;
    }
  }
}

.gallery-card__link {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 3px solid $color-seagull;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }

  @media (min-width: $vp-1200) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.gallery-card__item {
  position: relative;

  @media (max-width: ($vp-768 - 1px)) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $color-whisper-add;
    }

    &:last-child::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $color-whisper-add;
    }
  }
}

.gallery-card__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.gallery-card__text {
  text-align: left;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 27px 15px 20px;

    background-color: $color-white-smoke;

    &--whisper-back {
      background-color: $color-whisper-back;
    }
  }

  @media (min-width: $vp-1200) {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 17px 20px 17px 25px;

    background-color: rgb($color-black, 0.3);
  }
}

.gallery-card__wrapper {
  margin-bottom: 16px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.gallery-card__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }
}

.gallery-card__author {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }
}

.gallery-card__button {
  position: relative;

  padding-left: 37px;

  background-color: $transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 3px solid $color-seagull;
  }
}


.gallery-card__counter {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  @media (min-width: $vp-1200) {
    color: $color-white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 21px;

    background-image: url("../img/svg/like-icon.svg");

    @media (min-width: $vp-1200) {
      background-image: url("../img/svg/like-icon-white.svg");
    }
  }
}
