.gallery {
  text-align: center;
}

.gallery__heading {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 25px;

  @media (min-width: $vp-768) {
    max-width: 460px;
    padding-top: 66px;
    padding-bottom: 67px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 100px;
    padding-bottom: 65px;
  }
}
