.hero {
  position: relative;

  height: 389px;
  padding: 90px 19px 85px 19px;

  background-color: $color-background-hero;
  background-image: url("../img/background/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/hero@2x.jpg");
  }

  @media (min-width: $vp-768) {
    height: 518px;
    padding: 77px 154px 91px 153px;
  }

  @media (min-width: $vp-1200) {
    height: 518px;
    padding: 77px 154px 91px 153px;
  }

  &--inner {
    height: 158px;
    padding: 52px 46px 67px 45px;

    background-image: url("../img/background/hero-inner.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/hero-inner@2x.jpg");
    }

    @media (min-width: $vp-768) {
      height: 290px;
      padding: 95px 154px 117px 157px;
    }

    @media (min-width: $vp-1200) {
      height: 301px;
      padding: 95px 154px 117px 157px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 57px;

    background-image: url("../img/svg/divider.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero__image {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 461px;
    height: 350px;
  }

  &--inner {
    @media (min-width: $vp-768) {
      width: 457px;
      height: 78px;
    }

    @media (min-width: $vp-1200) {
      width: 460px;
      height: 80px;
    }
  }
}
