.hero {
  background-color: $color-background-hero;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--index {
    height: 389px;
    padding: 90px 19px 85px 19px;

    background-image: url("../img/background/hero.jpg");
  }

  &--inner {
    height: 158px;
    padding: 52px 46px 67px 45px;

    background-image: url("../img/background/hero-inner.jpg");
  }
}

@media (min-width: $vp-768) {
  .hero--index {
    height: 518px;
    padding: 77px 154px 91px 153px;
  }
}

@media (min-width: $vp-768) {
  .hero--inner {
    height: 290px;
    padding: 95px 154px 117px 157px;
  }
}

@media (min-width: $vp-1200) {
  .hero--index {
    height: 518px;
    padding: 77px 154px 91px 153px;
  }
}

@media (min-width: $vp-1200) {
  .hero--inner {
    height: 301px;
    padding: 95px 154px 117px 157px;
  }
}
