.main-header {
  position: relative;

  display: flex;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  display: block;
  width: 185px;
  height: 96px;

  transform: translate(-50%);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px $color-seagull solid;
    outline-offset: 2px;
  }

  @media (min-width: $vp-768) {
    z-index: 3;
  }
}

.main-header__toggle {
  margin-top: 17px;
  margin-right: 20px;
  margin-left: auto;
}
