.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  min-height: 56px;

  background-color: $color-seagull;

  .is-open & {
    display: block;
  }

  .no-js & {
    position: relative;

    display: block;
  }

  @media (min-width: $vp-768) {
    position: static;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $transparent;
  }
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 rgba($color-shadow, 0.2), inset 0 1px 0 rgba($color-white, 0.2);

  &:last-child {
    background: linear-gradient(to bottom, $transparent 90%, rgba($color-black, 0.2) 100%);
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: center;

    box-shadow: none;

    &:last-child {
      background: linear-gradient(to bottom, $transparent, $transparent);
    }

    &:nth-child(4n-1) {
      grid-column-start: 4;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 17px 77px 12px 77px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-darken;
  }

  @media (min-width: $vp-768) {
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    box-shadow: none;

    &--current {
      color: $color-current-link;
    }

    &:hover {
      color: $color-seagull;

      background-color: $transparent;
    }

    &:active {
      color: rgba($color-black, 0.3);

      background-color: $transparent;
    }

    &:focus-visible {
      outline: 2px $color-seagull solid;
      outline-offset: 2px;
    }
  }
}
