.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 82px;

  text-align: center;

  &--padding-catalog {
    padding-top: 33px;
  }

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 36px 120px;
  }
}

.main-footer__visit {
  display: block;
  max-width: 140px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 160px;
  margin: 0 0 30px 0;
  padding: 0;

  list-style-type: none;

  gap: 6px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.main-footer__link {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;

  background-color: $color-seagull;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 24px;

    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
  }

  &--vkontakte::before {
    background-image: url("../img/svg/vk.svg");
  }

  &--telegram::before {
    background-image: url("../img/svg/telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/svg/youtube.svg");
  }

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-darken;

    &::before {
      opacity: 0.3;
    }
  }

  &:focus-visible {
    outline: 2px $color-seagull solid;
    outline-offset: 2px;
  }
}

.main-footer__copyright {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}
