.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-black;

  background-color: $color-white;
}

.page__wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba($color-black, 0.2);
}
