.review-group__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
}

.review-group__input {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
}

.review-group__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.review-group__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.review-control__mark {
    display: block;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
}

.review-control__mark--radio {
    border-radius: 50%;
}

.review-control__mark--checkbox {
    border-radius: 4px;
}

.review-control__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.review-group__text {
    background-color: #f2f2f2;
}

.review-form__legend {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
}