.review__heading {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 28px;

  text-align: center;

  @media (min-width: $vp-768) {
    max-width: 440px;
    margin-bottom: 108px;
  }

  @media (min-width: $vp-1200) {
    margin-bottom: 68px;
  }
}
