.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }

  &--big {
    font-size: 21px;
  }
}
