.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }

  &--big-size {
    font-size: 21px;
  }

  @media (min-width: $vp-768) {
    font-size: 21px;

    &--big-size {
      font-size: 30px;
    }

    &--size-video {
      font-size: 30px;
    }
  }
}
