//Colors
$color-seagull: #81b3d2;
$color-background-hero: #c3dae8;
$color-black: #000000;
$color-white: #ffffff;
$color-white-smoke: #f2f2f2;
$color-night-rider: #333333;
$color-whisper-light: #eeeeee;
$color-whisper-back: #eaeaea;
$color-whisper-add: #e5e5e5;
$color-gainsboro: #dbdbdb;
$color-shadow: #010101;
$color-current-link: #766357;
$transparent: rgba(0, 0, 0, 0);

// Viewports
$vp-768: 768px;
$vp-1200: 1200px;
